body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #f8edeb, #e8e8ff)
}
 
/*Dark Mode*/
body.dark{
    background:#1e1e2f;
    color:white;
}

body.dark .landing-card,
body.dark .auth-card,
body.dark .card,
body.dark .notes-card,
body.dark .calendar-card{
    background:#2a2a40;
    color:white;
}

/*Animation*/
@keyframes fadeIn{
    from{
        opacity:0;
        transform: translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}