body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #f8edeb, #e8e8ff)
}

.landing-container,
.auth-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Landing Page*/
.landing-card{
    background: white;
    padding:40px;
    border-radius:20px;
    width:420px;
    text-align: center;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
}

.landing-title{
    font-size:32px;
    margin-bottom:10px;
    color:#6d6875;
}

.landing-description{
    font-size:15px;
    margin-bottom:20px;
    color:#555;
}

.features p{
    margin:8px 0;
    font-size:14px;
}

/*Buttons*/
.landing-buttons{
    margin-top:20px;
}

.primary-btn{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    background:#b8c0ff;
    color: white;
    font-size:16px;
    cursor: pointer;
}

.primary-btn:hover{
    background:#9aa4ff;
}

.secondary-btn{
    width:100%;
    padding:12px;
    margin-top: 10px;
    border: none;
    border-radius:10px;
    background: #ffd6e0;
    color:#333;
    font-size:16px;
    cursor: pointer;
}

.secondary-btn:hover{
    background:#ffb3c6;
}

/* Authorisation*/
.auth-card h2{
    color:#6d6875;
}

.auth-card input{
    width:100%;
    padding:10px;
    margin-top: 12px;
    border-radius:8px;
    border: 1px solid #ddd;
}

.auth-card button{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:none;
    border-radius:10px;
    background:#b8c0ff;
    color:white;
    font-size:15px;
    cursor:pointer;
    transition: 0.3s;
}

.auth-card button:hover{
    transform: scale(1.05);
}

/*NavBar*/
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#b8c0ff;
    padding:15px 30px;
    color:white;
}

.logo{
    margin:0;
}

.nav-links a{
    margin: 0 10px;
    text-decoration:none;
    color:white;
}

.nav-links button{
    margin-left:10px;
    padding:6px 10px;
    border:none;
    border-radius:6px;
    background:#ffd6e0;
    cursor:pointer;
}
/*Dashboard*/
.dashboard-container{
    min-height:100vh;
    padding: 40px;
    text-align: center;
}

.dashboard-title{
    color:#6d6875;
    margin-bottom: 30px;
}

.dashboard-grid{
    display: grid;
    grid-template-columns: repeat(2. 1fr);
    gap: 20px;
    max-width: 600px;
    margin: auto;
}

/* Cards*/
.card{
    background: white;
    color: #333;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.1);
    transition:0.3s;
    animation: fadeIn 0.6s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
}

.card h2{
    margin-bottom:10px;
    color:#6d6875;
}

.card p{
    font-size:14px;
    color: #555;
}
 
/*Notes*/
.notes-container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.notes-card{
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.notes-card input, .notes-card textarea{
  width:100%;
  margin-top:10px;
  padding:10px;
  border-radius:5px;
  border:1px solid #ccc;
}

.notes-card button{
  background-color: #b8c0ff;
  color: white;
  border: none;
  padding:10px;
  cursor:pointer;
  width:100%;
  margin-top:10px;
}

.note{
  background: #f9f9f9;
  margin-top: 10px;
  padding:10px;
  border-radius:8px;
}

/* Calendar */
.calendar-container{
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 20px;
    
}


.calendar-card{
    background: white;
    padding: 30px;
    border-radius:20px;
    width: 100%;
    max-width: 650px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.calendar-card h2{
    margin-bottom: 20px;
    color: #6d6875;
    font-size: 26px;
}
.calendar-layout{
    display:flex;
    gap:20px;
    justify-content: center;
    align-items:flex-start;
    flex-wrap:wrap;
}
.upcoming-card{
    background:#fff;
    padding:20px;
    border-radius:15px;
    width:250px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.upcoming-item{
    background: #f9f9f9;
    padding: 10px;
    border-radius:10px;
    margin-bottom:10px;
}
/*React Calendar*/

.react-calendar{
    border-radius: 15px;
    border: none;
    padding: 10px;
    background: #fdfcff;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.react-calendar__navigation button{
    color: #6d6875;
    font-weight: bold;
    background: none;
    border-radius:10px;

}

.react-calendar__navigation button:hover{
    background: #f0eaff;
}

.react-calendar__month-view__weekdays{
    text-transform: uppercase;
    font-size: 12px;
    color: #999;
}

.react-calendar__tile{
    border-radius:10px;
    transition:0.2s;
    position:relative;
}

.react-calendar__tile:hover{
    background: #e0c3fc;
    color:white;
}

.react-calendar__tile--now{
    background:#ffd6e0;
    border-radius:10px
}

/*Input of calendar*/
.event-input{
    margin-top:20px;
}

.event-input input{
    width:65%;
    padding:10px;
    border-radius:10px;
    border:1px solid #ccc;
    outline:none;
    margin-right:10px;
}

.event-input input:focus{
    border-color: #cdb4db;
}

.event-input button{
    padding: 10px 15px;
    border-radius:10px;
    border:none;
    background:#cdb4db;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.event-input button:hover{
    background:#b583d1;
}

.event-list{
    margin-top:25px;
    text-align: left;
}

.event-list h3{
    background: #f8f7ff;
    padding:12px;
    margin:8px 0;
    border-radius: 12px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.event:hover{
    transform:scale(1.02);
}

.event button{
    background: #ffafcc;
    border:none;
    border-radius:8px;
    padding:5px 10px;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

.event button:hover{
    background:#ff8fab;
}

.dot{
    height:6px;
    width: 6px;
    background-color:#ff7aa2;
    border-radius: 50%;
    margin:2px auto 0;
    position: absolute;
    bottom: 5px;
    left:50%;
    transform: translateX(-50%);
}



/*for mobile*/
@media(max-width:600px){
    .calendar-card{
        padding:20px;
    }

    .event-input input{
        width:100%;
        margin-bottom:10px;
    }

    .event-input button{
        width:100%;
    }
}

@media(max-width:768px){
    .calendar-layout{
        flex-direction:column;
        align-items:center;
    }

    .upcoming-card{
        width:100%;
    }
}

/*DarkMode*/

body.dark{
    background:#1e1e2f;
    color:white;
}

body.dark .landing-card,
body.dark .auth-card,
body.dark .card,
body.dark .notes-card,
body.dark .calendar-card{
    background:#2a2a40;
    color:white;
}

/*Animation*/
@keyframes fadeIn{
    from{
        opacity:0;
        transform: translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}